{% extends 'base.html' %}

{% block content %}
    {% for line in artistResults %}
        <h1>{{ line.artistname }}</h1>
        <p><strong>Bio:</strong> {{ line.artistbio }}</p>
        <p><strong>URL:</strong> <a href="{{ line.artisturl }}" target="_blank">{{ line.artisturl }}</a></p>
        <br>
        <p>Songs by {{ line.artistname }}:</p>
    {% endfor %}
    
    <table>
        <thead>
            <tr>
                <th>songID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Average Rating</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for line in songResults %}
            <tr>
                <td>{{ line.songid }}</td>
                <td>{{ line.title }}</td>
                <td>{{ line.genre }}</td>
                <td>{{ line.releasedate }}</td>
                <td>{{ line.avgrating }}</td>
                <td><a href="/select_song/{{ line.songid }}">Song Page</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    
    {% for line in artistResults %}
        <p>Albums by {{ line.artistname }}:</p>
    {% endfor %}
    
    <table>
        <thead>
            <tr>
                <th>albumID</th>
                <th>Title</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for line in albumResults %}
            <tr>
                <td>{{ line.albumid }}</td>
                <td>{{ line.title }}</td>
                <td>{{ line.avgrating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    
    {% for line in artistResults %}
        <a href="/become_fan/{{ line.artistid }}" class="button">Follow Artist</a>
    {% endfor %}
    
    <br>
    
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
{% endblock %}
