{% extends 'base.html' %}

{% block content %}
<head>
    <h1>Followed Artists</h1>
</head>

<body>

    <table>
        <th>artistID</th>
        <th>Artist Name</th>
        <th>Bio</th>
        <th>URL</th>

        {% for line in artistList %}
        <tr>
            <td>{{line.artistid}}</td>
            <td>{{line.artistname}}</td>
            <td>{{line.artistbio}}</td>
            <td><a href="/artist/{{line.artistid}}">Artist Page</a></td>
        </tr>
        {% endfor %}
    </table>

</body>

{% endblock %}