{% extends 'base.html' %}

{% block content %}
<head>
    <h1>My Friend Requests</h1>
</head>

<body>

    <table>
        <th>Username</th>
        <th>Accept Request</th>
        <th>Deny Request</th>

        {% for line in requests %}
        <tr>
            <td>{{line.requester}}</td>
            <td><a href="/accept_req/{{line.requester}}">Accept</a></td>
            <td><a href="/deny_req/{{line.requester}}">Decline</a></td>
        </tr>
        {% endfor %}
    </table>


</body>



{% endblock %}