{% extends 'base.html' %}

{% block content %}
<head>
    <h1>Users Matching your Search</h1>
</head>
<body>

    <br>
    <br>
    <table>
        <th>Username</th>
        <th>Full Name</th>
        <th>Follow</th>
        <th>Send Friend Request</th>

        {% for line in result %}
        <tr>
            <td><a href="/user/{{line.username}}">{{line.username}}</td>
            <td>{{line.name}}</td>
            <td><a href="/follow/{{line.username}}">Follow</a></td>
            <td><a href="/send_req/{{line.username}}">Send Friend Request</a></td>

        </tr>
        {% endfor %}
    </table>


</body>

{% endblock %}