{% extends 'base.html' %}

{% block content %}
<head>
    <h1>Artists</h1>
</head>

    <table>
        <th>artistID</th>
        <th>Artist Name</th>
        <th>View Page</th>
        <th>Follow Artist</th>

        {% for line in result %}
        <tr>
            <td>{{line.artistid}}</td>
            <td>{{line.artistname}}</td>
            <td><a href="/artist/{{line.artistid}}">View Page</a></td>
            <td><a href="/become_fan/{{line.artistid}}">Follow Artist</a></td>

        </tr>
        {% endfor %}
    </table>

    

</body>
{% endblock %}