<html>

<head>
</head>

<body>

    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

    Artists:

    <table>
        <th>artistID</th>
        <th>Artist Name</th>
        <th>View Page</th>
        <th>Become Fan</th>

        {% for line in result %}
        <tr>
            <td>{{line.artistID}}</td>
            <td>{{line.artistName}}</td>
            <td><a href="/artist/{{line.artistID}}">View Page</a></td>
            <td><a href="/become_fan/{{line.artistID}}">Become Fan</a></td>

        </tr>
        {% endfor %}
    </table>

    <br>
    <br>
    <a href="/home">Return Home</a>
    <br>
    <br>
    <a href="/logout">Logout</a>

</body>


</html>