<html>

<head>
    {% for line in song_info %}
    <h1>{{line.title}} by {{line.artistName}}</h1>
    {% endfor %}
</head>

<body>
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <table>
        <th>songID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Release Date</th>
        <th>song URL</th>
        <th>Album Title</th>
        <th>Average Rating</th>

        {% for line in song_info %}
        <tr>
            <td>{{line.songID}}</td>
            <td>{{line.title}}</td>
            <td><a href="/artist/{{line.artistID}}">{{line.artistName}}</a></td>
            <td>{{line.genre}}</td>
            <td>{{line.releaseDate}}</td>
            <td>{{line.songURL}}</td>
            <td>{{line.albumTitle}}</td>
            <td>{{line.averageRating}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    User Reviews:
    <table>
        <th>Username</th>
        <th>Review</th>
        <th>Review Date</th>

        {% for line in reviews %}
        <tr>
            <td>{{line.username}}</td>
            <td>{{line.reviewText}}</td>
            <td>{{line.reviewDate}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>

    {% for line in song_info %}
    Write a review:
    <form action="/post" method="POST">
        <input type="text" name="reviewText" placeholder="Review" required></input> </br>
        <input type="hidden" name="songID" value={{line.songID}}></input>
        <input type="submit" name="Submit" value="Submit" />
        {% endfor %}
    </form>
    <br>

    {% for line in song_info %}
    <form action="/rate_song" method="GET" id="ratesong">
        <label for="ratesong">Rate Song:</label>
        <select name="numStars" id="ratesong">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="hidden" name="songID" value={{line.songID}}></input>
        {% endfor %}
        <input type="submit" name="Submit" value="Submit Rating" />
    </form>
    <br>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    <br>
    {% for line in song_info %}
    <a href="/artist/{{line.artistID}}">Go to Artist Page</a>
    {% endfor %}
    <br>
    <a href="/home">Return Home</a>
    <br>
    <a href="/login">Return to Login</a>


</body>


</html>