<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>

<body>

    <p>Here are songs fitting your search:</p>

    <table>
        <thead>
            <tr>
                <th>Song Title</th>
                <th>Artist Name</th>
                <th>Album Title</th>
                <th>Genre</th>
                <th>Average Rating</th>
                <th>Song ID</th>
            </tr>
        </thead>
        <tbody>
            {% for line in song_list %}
            <tr>
                <td>{{ line.title }}</td>
                <td>{{ line.artistname }}</td>
                <td>{{ line.albumtitle }}</td>
                <td>{{ line.genre }}</td>
                <td>{{ line.avgrating }}</td>
                <td><a href="/select_song/{{ line.songid }}">{{ line.songid }}</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">No results found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <p>Search for more songs:</p>
    <form action="/songSearch" method="POST">
        <input type="text" name="artist" placeholder="artist" /><br>
        <input type="text" name="genre" placeholder="genre" /><br>
        <input type="text" name="rating" placeholder="avg rating" /><br>
        <input type="submit" value="Search" />
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </form>
    <br>
    <a href="/home">Return Home</a>
    <br>
    <a href="/login">Return to Login</a>
</body>

</html>
