{% extends 'base.html' %}

{% block content %}
    {% for line in userInfo %}
        <h1>{{ line.name }}</h1>
        <p>Username: {{ line.username }}</p>
        <p>Last Login: {{ line.lastlogin }}</p>
        <p>Nickname: {{ line.nickname }}</p>
    {% endfor %}

    <h2>Fans of:</h2>
    <table class="info-table">
        <thead>
            <tr>
                <th>Artist ID</th>
                <th>Artist Name</th>
                <th>Bio</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for line in artistResults %}
            <tr>
                <td>{{ line.artistid }}</td>
                <td><a href="/artist/{{ line.artistid }}">{{ line.artistname }}</a></td>
                <td>{{ line.artistbio }}</td>
                <td><a href="{{ line.artisturl }}" target="_blank">{{ line.artisturl }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h2>Song Ratings:</h2>
    <table class="info-table">
        <thead>
            <tr>
                <th>Song ID</th>
                <th>Song Title</th>
                <th>Rating</th>
                <th>Rating Date</th>
                <th>Artist Name</th>
            </tr>
        </thead>
        <tbody>
            {% for line in songRatings %}
            <tr>
                <td>{{ line.songid }}</td>
                <td><a href="/select_song/{{ line.songid }}">{{ line.title }}</a></td>
                <td>{{ line.stars }}</td>
                <td>{{ line.ratingdate }}</td>
                <td><a href="/artist/{{ line.artistid }}">{{ line.artistname }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h2>Album Ratings:</h2>
    <table class="info-table">
        <thead>
            <tr>
                <th>Album ID</th>
                <th>Album Title</th>
                <th>Rating</th>
                <th>Artist Name</th>
            </tr>
        </thead>
        <tbody>
            {% for line in albumRatings %}
            <tr>
                <td>{{ line.albumid }}</td>
                <td>{{ line.title }}</td>
                <td>{{ line.stars }}</td>
                <td><a href="/artist/{{ line.artistid }}">{{ line.artistname }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h2>Song Reviews:</h2>
    <table class="info-table">
        <thead>
            <tr>
                <th>Song ID</th>
                <th>Song Title</th>
                <th>Review</th>
                <th>Review Date</th>
                <th>Artist Name</th>
            </tr>
        </thead>
        <tbody>
            {% for line in songReviews %}
            <tr>
                <td>{{ line.songid }}</td>
                <td><a href="/select_song/{{ line.songid }}">{{ line.title }}</a></td>
                <td>{{ line.reviewtext }}</td>
                <td>{{ line.reviewdate }}</td>
                <td><a href="/artist/{{ line.artistid }}">{{ line.artistname }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <h2>Album Reviews:</h2>
    <table class="info-table">
        <thead>
            <tr>
                <th>Album ID</th>
                <th>Album Title</th>
                <th>Review</th>
                <th>Artist Name</th>
            </tr>
        </thead>
        <tbody>
            {% for line in albumReviews %}
            <tr>
                <td>{{ line.albumid }}</td>
                <td>{{ line.albumtitle }}</td>
                <td>{{ line.reviewtext }}</td>
                <td><a href="/artist/{{ line.artistid }}">{{ line.artistname }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <div class="button-group">
        {% for line in userInfo %}
        <button class="action-button" onclick="location.href='/follow/{{line.username}}'">Follow</button>
        <button class="action-button" onclick="location.href='/send_req/{{line.username}}'">Send Friend Request</button>
        {% endfor %}
    </div>
    <br>

    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
{% endblock %}
